.header{
    height: 87vh;
    width: 100%;
    position: relative;
    z-index: -1000;

    .video{
        width: 100%;
        height: 100%;
        object-fit: fill;
        background-image: linear-gradient(rgba(0,0,0, .8), rgba(0,0,0, .8));
        
    }
    .bg-video{
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: .7;
        z-index: 2;
    }
    &-text__content{
        width: 70%;
        position: absolute;
        top: 20%;
        left: 7%;
        z-index: 3;
        color: #fff;

        .heading{
            font-size: 60px;
            font-weight: 700;
            margin-bottom: 10px;

            @media screen and (max-width:800px) {
                font-size: 40px;
            }
        }
        .paragraph{
            font-size: 24.5px;
        }
        .play-container{
            background-color: #016171;
            position: relative;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-right: 20px;
            margin-left: 20px;
            -webkit-transition: background-color .2s;
            transition: background-color .2s;

            &:hover{
                background-color: #073136;
            }

            .play{
                width: 30px;
                position: absolute;
                top: 50%;
                left: 50%;
                cursor: inherit;
                transform: translate(-50%,-50%);
            }
        }
    }

}